@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/img/gummibears.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Gummi Bear Employees</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/humanrepellent.png" alt="...">
                    <div class="carousel-caption">
                        <h3>Human Repellent</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/gummiberryjuice.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
        <div id="history">
        "Gummi Bears," anthropomorphic bears who are the last remnants of a once-great civilization of Gummis that fled the land centuries ago when humans, jealous of the advancements and magical skills of the Gummi Bears, forced the species into exile. Now regarded by most of humankind as fairytales, live in the vast subterranean warren of Gummi Glen in the medieval kingdom of Dunwyn.
        </div>
        <div>
            <h3>Employees:</h3>
            <ul>
                <div col-md-6><img src="~/img/Gruffi.jpg" alt="..."></div>
                <div col-md-6>
                    <li>
                        Gruffi Gummi is an old-fashioned bear who           prefers to do things "the Gummi way", and the       defacto leader of Gummi Glen. An extremely          skilled craftsman and mechanic, he is the one       that often fixes the old Gummi technology and       trap doors, as well as building traps around        the Glen to deal with Humans and Ogres. When        it comes to building and using tools he is a        perfectionist, which can be his undoing at          times. However, at other times Gruffi is often      the voice of stability when the other Gummis        fall into despair.
                    </li>
                </div>
                <div col-md-6><img src="~/img/zummi.png" alt="..."></div>
                <div col-md-6>
                    <li>
                        Zummi Gummi is an aged bear who is the Gummi-Glen Gummi's "Keeper of Gummi Wisdom" and later the holder of the Gummi-Medallion which he uses to read his magic book to become the group's magician. He is forgetful and clumsy, and his spells tend to backfire. He also had a fear of heights early on.
                    </li>
                </div>
                <div col-md-6><img src="~/img/Grammi.jpg" alt="..."></div>
                <div col-md-6>
                    <li>
                        Grammi Gummi is another old bear who is the matriarch of Gummi-Glen. She acts as the group's mother, who cooks, cleans, and is the Gummi who prepares the Gummiberry Juice. She holds the secret recipe, and wants to pass it down to Sunni when she is of age. She has a huge rivalry with Gruffi Gummi, and tends to bicker with him over what has to be done.
                    </li>
                </div>
                <div col-md-6><img src="~/img/Tummi.jpg" alt="..."></div>
                <div col-md-6>
                    <li>
                        Tummi Gummi is an overweight teenager Gummi who enjoys a good meal, and would much rather be eating the gummiberries than picking them. He has a rather relaxed and easygoing personality, which often gets him caught up in Cubbi's schemes. However in dangerous situations Tummi has shown exceptional bravery. Throughout the series he shows signs of being a talented sailor, gardener, artist and craftsman.
                    </li>
                </div>
                <div col-md-6><img src="~/img/Sunni.jpg" alt="..."></div>
                <div col-md-6>
                    <li>
                        Sunni Gummi is a preteen Gummi, who dreams about becoming a princess just like her best friend the human Princess Calla. Sunni is the most curious about human culture and human fashion, and least concerned with Gummi history. Later in the series she is shown to have a crush on Gusto.
                    </li>
                </div>
                <div col-md-6><img src="~/img/cubbi.png" alt="..."></div>
                <div col-md-6>
                    <li>
                        Cubbi Gummi is the youngest Gummi-Glen Gummi, and dreams of becoming a great Gummi knight. He is incredibly curious and has a tendency to get distracted by the mysterious or the exciting. He sometimes dons a mask and becomes a vigilante known as the "Crimson Avenger". He is best friends with the human Cavin.
                    </li>
                </div>
                <div col-md-6><img src="~/img/gusto.jpg" alt="..."></div>
                <div col-md-6>
                    <li>
                        Augustus Gummi is an artistic, individualist Gummi who was stranded on a deserted island for twelve years with his best friend Artie Deco, a wise-talking toucan. Tummi and Gruffi were shipwrecked on Gusto's island, just as a volcano was due to erupt and cause the island to sink into the sea. The three bears worked together and brought Gusto home with them to Gummi Glen at the premiere of Season 3. Gruffi tends to argue with Gusto for his outside-the-box thinking, and how much influence he is on Cubbi and Sunni. He lives by himself in a makeshift apartment behind a waterfall but lives in Gummi Glen when the weather is too harsh.
                    </li>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>